@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #381A75, #5D2BC2, #200F42);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #200F42;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #2c1659;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2{
    color: #6d47ba;
}

p {
    text-align: justify;
}